<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pokercc.mavenlibsample">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application>
        <meta-data
            android:name="appStarter://com.pokercc.mavenlibsample.AppUpdate"
            android:value="pokercc pokercc@sina.com" />
    </application>
</manifest>
