<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.pokercc.demo">

    <application>
        <meta-data
            android:name="appStarter://com.pokercc.appstarter.ManifestAppEntryFinderTest$NormalAppEntry1"
            android:value=""/>
        <meta-data
            android:name="appStarter://com.pokercc.appstarter.ManifestAppEntryFinderTest$NormalAppEntry2"
            android:value=""/>
        <meta-data
            android:name="appStarter://com.pokercc.appstarter.ManifestAppEntryFinderTest$NormalAppEntry3"
            android:value=""/>

        <meta-data
            android:name="appStarter://com.pokercc.appstarter.ManifestAppEntryFinderTest$NormalAppEntry4"
            android:value=""/>
        <meta-data
            android:name="appStarter://com.pokercc.appstarter.ManifestAppEntryFinderTest$NormalAppEntry5"
            android:value=""/>
        <meta-data
            android:name="appStarter://com.pokercc.appstarter.ManifestAppEntryFinderTest$NormalAppEntry6"
            android:value=""/>
    </application>

</manifest>